@import "../announcement/variables.less";
@import "../announcement/mixins.less";

.about-us {
  width: @mobile;
  margin: 0 auto;
  margin-bottom: 61px;

  @media (min-width: @tablet) {
    width: @tablet;
  }

  @media (min-width: @desktop) {
    width: @desktop;
  }
}

.about-us__header {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;

  @media (min-width: @tablet) {
    padding: 0 52px;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop) {
    padding: 0 225px;
  }
}

.about-us__list {
  .no-list();
  padding: 0 30px;

  @media (min-width: @tablet) {
    padding: 0 52px;
    column-count: 2;
  }

  @media (min-width: @desktop) {
    padding: 0 225px;
  }
}

.about-us__item {
  position: relative;
  margin-bottom: 30px;
  padding-top: 55px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 22px;
    width: 275px;
  }
}

.about-us__item--flower::before {
  width: 32px;
  height: 37px;

  background-image: url("../img/icon-feature-flower.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

.about-us__item--money::before {
  width: 47px;
  height: 27px;

  background-image: url("../img/icon-feature-money.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

.about-us__item--heart::before {
  width: 34px;
  height: 27px;

  background-image: url("../img/icon-feature-heart.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

.about-us__item--ball::before {
  width: 35px;
  height: 34px;

  background-image: url("../img/icon-feature-ball.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

.about-us__item--rocket::before {
  width: 55px;
  height: 23px;

  background-image: url("../img/icon-feature-rocket.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

.about-us__item--gift::before {
  width: 33px;
  height: 32px;

  background-image: url("../img/icon-feature-gift.svg");
  background-position: top left;
  background-repeat: no-repeat;
}
