@import "../mixin/mixins.less";

.catalog {
  padding: 0 30px;
}

.catalog__list {
  .no-list();
}

.catalog__item-header {
  margin: 30px;
  margin-bottom: 15px;
}

.catalog__link-header {
  line-height: 24px;
  font-size: 17px;
  font-weight: bold;
  color: #000000;

  .link();
}

.catalog__link-image {
  cursor: pointer;
}

.catalog__property {
  margin: 30px;
  margin-top: 15px;

  line-height: 30px;
  font-size: 13px;
}

.catalog__block-buy {
  margin: 0 30px;
  margin-bottom: 30px;
  padding-top: 30px;

  box-shadow: inset 0px 1px 0 0 #ececec;
}

.catalog__price {
  line-height: 24px;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
