@import "../announcement/variables.less";
@import "../announcement/mixins.less";

.product-category {
  position: relative;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  background-color: #f2f2f2;

  @media (min-width: @tablet) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 124px;
  }
}

.product-category__header {
  min-height: 283px;
  margin: 0;
  padding: 0;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -17px;
  background-repeat: no-repeat;
  box-shadow: 0 -1px 0 0 #ececec;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  @media (min-width: @tablet) {
    min-height: 735px;
    margin-bottom: -108px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  @media (min-width: @desktop) {
    min-height: 744px;
    margin-bottom: -117px;
  }
}

.product-category__header-wrapper {
  position: absolute;
  top: 72px;

  width: 244px;

  transform: translateX(-50%);

  @media (min-width: @tablet) {
    top: 155px;

    width: 500px;
  }

  @media (min-width: @desktop) {
    width: 650px;
  }
}

.product-category__list {
  .no-list();

  @media (min-width: @tablet) {
    width: @tablet - 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop) {
    width: @desktop - 100px;
    min-height: 117px;
  }
}

.product-category__item {
  position: relative;

  @media (min-width: @tablet) {
    width: 50%;
  }

  & svg {
    position: absolute;
    opacity: 0.5;
  }

  &:hover svg {
    opacity: 0.7;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.product-category__item--interiors {
  background-color: #63d1bb;

  & svg {
    top: 23px;
    right: 36px;

    @media (min-width: @tablet) {
      top: 30px;
    }
  }
}

.product-category__item--toys {
  background-color: #56c3b2;

  & svg {
    top: 21px;
    right: 27px;

    @media (min-width: @tablet) {
      top: 31px;
      right: 33px;
    }
  }
}

.product-category__link {
  display: block;
  width: 150px;
  margin: 0;
  padding: 26px 120px 29px 30px;

  line-height: 24px;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;

  .link();

  @media (min-width: @tablet) {
    padding: 28px 150px 20px 36px;

    line-height: 30px;
    font-size: 20px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
