@import "../announcement/variables.less";
@import "../announcement/mixins.less";

.product {
  width: @mobile;
  margin: 0 auto;
  padding: 0 30px;
  @media (min-width: @tablet){
    width: @tablet;
  }
  @media (min-width: @desktop){
    width: @desktop;
    min-height: 700px;
  }
}

.product__header-wrapper {
  @media (min-width: @tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: @desktop){
    flex-direction: row-reverse;
    justify-content: flex-end;
    z-index: 1;
  }
}

.product__header {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 8px;
  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
  }
  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.product__subheader {
  margin: 8px 0;

  line-height: 20px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
  @media (min-width: @tablet) {
    width: 70px;
    margin-top: 34px;
    margin-right: 30px;
  }
  @media (min-width: @desktop) {
    line-height: 17px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.product__description-wrapper {
  @media (min-width: @tablet) {
    padding-right: 340px;
    position: relative;
  }
  @media (min-width: @desktop) {
    padding-left: 150px;
    padding-right: 530px;
  }
}

.product__description {
  margin: 30px 0;
  padding: 0;

  line-height: 24px;
  font-size: 15px;
}

.product__list {
  width: 100%;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 28px;
  padding: 0;

  line-height: 24px;
  font-size: 15px;

  border-collapse: collapse;
}

.product__item {
  border-bottom: solid 1px #ececec;
}

.product__image {
  @media (min-width: @tablet) {
    .outline(red);

    position: absolute;
    top: 0;
    right: 0;

    width: 333px;
    height: 404px;
  }
  @media (min-width: @desktop) {
    top: -95px;
    width: 525px;
    height: 636px;
  }
}

.product__item-date {
  padding: 13px 0;
}

.product__price {
  margin: 28px 0;

  line-height: 24px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.product__button {
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 36px;
}
